@model IEnumerable<Web_Scrapping.Models.curren>


<h2>Index</h2>
<table id="memberlist" class="table table-light table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Symbol</th>
            <th>Buying</th>
            <th>Selling</th>
        </tr>
    </thead>
    <tbody id="tbody" >
    </tbody>
</table>

    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.js" integrity="sha512-4WpSQe8XU6Djt8IPJMGD9Xx9KuYsVCEeitZfMhPi8xdYlVA5hzRitm0Nt1g2AZFS136s29Nq4E4NVvouVAVrBw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="~/Scripts/Currency.js"></script>

